/* 基幹部分 */

* {
  font-size: 62.5%;
  box-sizing: border-box;
  font-weight: lighter;
  color: white;
}

*, *::before, *::after {
  box-sizing: border-box;
}


body {
  background: rgb(0, 0, 0);
  text-align: center;
  font-size: 10rem;
}

/* header */

.header {
  background: rgb(6, 40, 65);
  padding: 5rem 0 5rem 0;
  font-size: 150%;
  font-weight: lighter;
}

/* main */

.main {
  padding: 3rem 0 5rem;
  /* 一時的な背景色 */
  background: rgb(6, 40, 65);
  /* border-top: 1rem solid red; */
  font-size: 5rem;
}

/* select */

.select-beta {
  margin-bottom: 1rem;
}

.select-beta > span {
  margin: 0 1rem 0;
  cursor: grab;
  text-decoration: underline;
}

/* select end */

/* rate */

.rate {
  font-size: 3rem;
  border: solid 1px white;
  background: rgb(41, 59, 72);
}

/* rate end */

/* change-price */

.change-price-beta {
  font-size: 3rem;
}

.change-price-beta > input {
  color: black;
}

/* change-price end */

/* changed-price-beta */
/* ややこしいからクラス名を変えること */

.changed-price-beta {
  font-size: 3rem;
}

/* changed-price-beta end */

/* main end */


/* footer */

.footer {
  /* background: black; */
  color: white;
}

.red {
  color: red;
}

.copy {
  font-size: 1rem;
}

/* footer End */
